.schedule-container {
    display: flex;
    color: #2A2F66;
}

.schedule-table {
    margin-left: 50px;
    margin-right: 50px;
    cursor: pointer;
}

.attendance-chart {
    width: 300px;
    height: 300px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.selected-row {
    background-color: lightgray;
    border-bottom: auto;
  }